<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<!-- Disable caching for index.html -->
<staticContent>
<clientCache cacheControlCustom="public,no-cache,no-store,must-revalidate" cacheControlMaxAge="00:00:00" />
</staticContent>
 
    <!-- Default document -->
<defaultDocument>
<files>
<clear />
<add value="index.html" />
</files>
</defaultDocument>
 
    <!-- Rewrite rules for React SPA -->
<rewrite>
<rules>
<rule name="ReverseProxyToAPI" stopProcessing="true">
<match url="^api/(.*)" />
<action type="Rewrite" url="http://localhost:4000/api/{R:1}" />
</rule>
<rule name="React Routes" stopProcessing="true">
<match url=".*" />
<conditions logicalGrouping="MatchAll">
<!-- Don't rewrite API calls -->
<add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
<!-- Don't rewrite if it's a real file -->
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
<!-- Don't rewrite if it's a real directory -->
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
</conditions>
<action type="Rewrite" url="/index.html" />
</rule>
</rules>
</rewrite>
 
    <!-- Custom error pages -->
<httpErrors errorMode="Custom">
<remove statusCode="404" subStatusCode="-1" />
<error statusCode="503" prefixLanguageFilePath="" path="C:/inetpub/Maintenance/maintenance.html" responseMode="File" />
<error statusCode="404" prefixLanguageFilePath="" path="C:/inetpub/Maintenance/maintenance.html" responseMode="File" />
</httpErrors>
</system.webServer>
</configuration>